<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <style>
        html {
            color: var(--white-color);
        }
    </style>
</head>

<body>
<div th:replace="shared/header :: header('contact')"/>


<!-- CONTACT SECTION -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div>
                    <h3>Как мы можем помочь Вам?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
                <div>
                    <h3>Адрес</h3>
                    <p>50, Глухой переулок</p>
                    <p>Хорошево</p>
                    <p>Москва</p>
                </div>
                <div>
                    <h3>Забронировать</h3>
                    <p>5050 5050 5050</p>
                    <p>5050 5050 5050</p>
                    <p>book@crocus.com</p>
                </div>
            </div>
            <div class="col-2">
                <form>
                    <input type="text" placeholder="Имя" required>
                    <input type="email" placeholder="Email" required>
                    <textarea row="20" cols="20" placeholder="Ваше сообщение" required></textarea>
                    <button class="btn btn-white">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER SECTION -->
<footer>
    <div class="container">
        <div class="back-to-top">
            <a href="#contact"><i class="fas fa-chevron-up"></i></a>
        </div>
        <div class="footer__content row">
            <div class="col-3">
                <h4>О нас</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde accusantium sit repudiandae
                    incidunt quod eius recusandae blanditiis voluptates consectetur?</p>
            </div>
            <div class="col-3">
                <h4>Способы оплаты</h4>
                <ul class="payment-methods">
                    <li>
                        <a href="#">
                            <i class="fab fa-paypal"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-visa"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-mastercard"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-apple-pay"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Наши соц.сети</h4>
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-tripadvisor"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>