<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <style>
        .btn {
            color: #4a455d;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 720px;
        }

        h1 {
            margin: auto 0;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <h1>
        Запись удалена
        <br><br>
        <a class="btn btn-success" th:href="@{/index}">Вернуться на главную страницу</a>
    </h1>
</div>
</body>
</html>