<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="shared/header :: header('editReservationFormADM')"/>
<div class="container text-center">
    <!--<form th:method="POST" th:object="${roomReservation}" th:action="@{/editReservationFormADM.html}">
        <fieldset>
            <p>Имя: <span style="font-weight: bold;"> [[${roomReservation.user.login}]]
            </span> /
                <span> [[${roomReservation.user.firstName}]]</span><span> [[${roomReservation.user.lastName}]]
                </span>
            </p>
            <p>Начало бронирования: <span style="font-weight: bold;"
                                          th:text="${#dates.format(roomReservation.reservationStartDate, 'dd-MM-yyyy')}"></span><br>
                Конец бронирования: <span style="font-weight: bold;"
                                          th:text="${#dates.format(roomReservation.reservationEndDate, 'dd-MM-yyyy')}"></span><br>
            </p>
            <p>Номер комнаты : <span style="font-weight: bold;">[[${roomReservation.room.roomNumber}]]</span><br>
                Число людей: <span style="font-weight: bold;"> [[${roomReservation.numberOfPeople}]]</span></p>
            <hr>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Сохранить изменения"/>
        </fieldset>
    </form>-->
    <fieldset>
        <p>Имя: <span style="font-weight: bold;"> [[${roomReservation.user.login}]]
            </span> /
            <span> [[${roomReservation.user.firstName}]]</span><span> [[${roomReservation.user.lastName}]]
                </span>
        </p>
        <p>Начало бронирования: <span style="font-weight: bold;"
                                      th:text="${#dates.format(roomReservation.reservationStartDate, 'dd-MM-yyyy')}"></span><br>
            Конец бронирования: <span style="font-weight: bold;"
                                      th:text="${#dates.format(roomReservation.reservationEndDate, 'dd-MM-yyyy')}"></span><br>
        </p>
        <p>Номер комнаты : <span style="font-weight: bold;">[[${roomReservation.room.roomNumber}]]</span><br>
            Число людей: <span style="font-weight: bold;"> [[${roomReservation.numberOfPeople}]]</span></p>
        <hr>
    </fieldset>
    <br>

    <a class="btn btn-lg btn-block" href="reservationList.html">Назад</a>
</div>
</body>
</html>