<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Hotel - Luxury Hotel Template</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        html {
            color: var(--white-color);
        }
    </style>
</head>

<body>
<!-- HEADER -->
<div th:replace="shared/header :: header('index')"/>

<div id="hero" class="hero">
    <div class="container">
        <div class="hero__text-box">
            <h1 class="hero__text">
                <span class="hero__text-top">Гостиница</span>
                <span class="hero__text-bottom">Kulalistemaja</span>
            </h1>
            <a class="btn btn-green" th:href="@{/reservationFormUSR.html}">
                Забронировать номер
            </a>
        </div>
    </div>
</div>
<!--</header>-->

<main>
    <!-- INFO SECTION -->
    <section class="info">
        <div class="container">
            <div class="row">
                <div class="col-2 padding-right">
                    <p class="info-text text-green">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima
                        quia ipsum
                        ratione numquam
                        amet. Reprehenderit ratione doloremque, repudiandae pariatur sed similique.</p>
                    <p class="info-text text-green">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima
                        quia ipsum
                        ratione numquam
                        amet. Reprehenderit ratione doloremque, repudiandae pariatur sed similique.</p>
                </div>
                <div class="col-2 image-group">
                    <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                    <img th:src="@{/img/blog-list-img-2.jpg}" alt="image">
                </div>
            </div>
        </div>
    </section>

    <!-- ROOMS SECTION -->
    <section class="rooms">
        <div class="container">
            <div class="row">
                <div class="col-2 padding-right">
                    <img th:src="@{/img/rooms.jpg}" alt="image">
                </div>
                <div class="col-2">
                    <div class="text-box">
                        <h2 class="headline">Rooms</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto enim mollitia
                            dolorum
                            necessitatibus vero sunt deleniti minus vel, non quasi?</p>
                        <button class="btn btn-green">Explore Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- RESTAURANT SECTION -->
    <section class="restaurant">
        <div class="container">
            <div class="row column-reverse">
                <div class="col-2 padding-right">
                    <div class="text-box">
                        <h2>Restaurant</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                            enim mollitia
                            dolorum
                            necessitatibus vero sunt deleniti minus vel, non quasi?</p>
                        <button class="btn btn-white">Dine With Us</button>
                    </div>
                </div>
                <div class="col-2">
                    <img th:src="@{/img/restaurant.jpg}" alt="image">
                </div>
            </div>
        </div>
    </section>

    <!-- SPA SECTION -->
    <section class="spa">
        <div class="container">
            <div class="row">
                <div class="col-2 padding-right">
                    <img th:src="@{/img/spa.jpg}" alt="image">
                </div>
                <div class="col-2">
                    <div class="text-box">
                        <h2>Spa &amp; Wellness</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto enim mollitia
                            dolorum
                            necessitatibus vero sunt deleniti minus vel, non quasi?</p>
                        <button class="btn btn-green">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL SECTION -->
    <section class="testimonials">
        <div class="container">
            <h2 class="heading-text">Customers Reviews</h2>
            <div class="slider">
                <div class="slider-box">
                    <i class="fas fa-quote-left text-green"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever.</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img th:src="@{/img/user-1.jpg}" alt="user">
                    <h3>Chris Doe</h3>
                </div>
                <div class="slider-box">
                    <i class="fas fa-quote-left text-green"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever.</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img th:src="@{/img/user-2.jpg}" alt="user">
                    <h3>John Doe</h3>
                </div>
                <div class="slider-box">
                    <i class="fas fa-quote-left text-green"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever.</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img th:src="@{/img/user-3.jpg}" alt="user">
                    <h3>Jane Doe</h3>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- FOOTER SECTION -->
<footer>
    <div class="container">
        <div class="back-to-top">
            <a href="#hero"><i class="fas fa-chevron-up"></i></a>
        </div>
        <div class="footer__content row">
            <div class="col-3">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde accusantium sit repudiandae
                    incidunt quod eius recusandae blanditiis voluptates consectetur?</p>
            </div>
            <div class="col-3">
                <h4>Payment Methods</h4>
                <p>Pay any way you choose, we support all payment options</p>
                <ul class="payment-methods">
                    <li>
                        <a href="#">
                            <i class="fab fa-paypal"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-visa"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-mastercard"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-apple-pay"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Get Social</h4>
                <p>Follow us on social media and keep in touch with La Hotel.</p>
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-tripadvisor"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>