<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <style>
        body {
            font-size: 16px;
            color: #4a455d;
        }

        td {
            text-align: center;
        }

        .table-names {
            text-align: center;
        }

        .form-control {
            font-size: 1.5rem;
        }

        .btn {
            color: #4a455d;
        }

        button.search {
            height: 32px;
            width: 70px;
            outline: none;
            border: none;
            color: white;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-around;
            color: white;
            background-color: #5656ff;
            padding: 10px;
        }

        button.search:hover {
            color: #5656ff;
            background-color: white;
            transition-duration: .3s;
        }

    </style>
</head>
<body>
<div th:replace="shared/header :: header('reservation')"/>
<div class="container">
    <form th:method="POST" th:action="@{reservationList.html}" th:object="${searchCommand}">
        <div class="row">
            <div class="form-group col-md-6 field">
                <input th:field="*{phrase}" placeholder="имя/фамилия/логин" class="form-control"
                       th:classappend="${#fields.hasErrors('phrase')}?'is-invalid'"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('phrase')}">
                    <p th:each="err : ${#fields.errors('phrase')}" th:text="${err}"></p>
                </div>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="search">
                    Поиск
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <a th:if="${searchCommand.isEmpty() eq false or #fields.hasErrors('*')}"
                   th:href="@{reservationList.html(all)}" class="btn btn-success">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Показать все
                </a>
            </div>
        </div>
    </form>
    <div th:if="${roomReservationListPage.hasContent() eq false}">
        <span>Бронирований нет</span><br>
    </div>
    <div th:if="${roomReservationListPage.hasContent() eq true}">
                  <span th:if="${searchCommand.isEmpty()}">
                База включает [[${roomReservationListPage.totalElements}]] бронирований
            </span><br>
        <span th:unless="${searchCommand.isEmpty()}">
                Результат поиска: [[${roomReservationListPage.totalElements}]] бронирований
            </span><br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="table-names">
            <th>Номер</th>
            <th>Имя</th>
            <th>Дата въезда</th>
            <th>Дата выезда</th>
            <th>Количество людей</th>
            <th>Состояние</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${roomReservationListPage.content}">
            <td>
                <a th:href="@{/roomDetails.html(id=${booking.room.id})}">
                    [[${booking.room.id}]]
                </a>
            </td>
            <td>
                <a th:href="@{/reservationList.html(phone=${booking.user.phone})}">
                    <span> [[${booking.user.name}]]</span>
                    <span> [[${booking.user.surname}]]</span>
                </a>
            </td>
            <td>
                <span th:text="${#dates.format(booking.reservationStartDate, 'dd-MM-yyyy')}"></span>
            </td>
            <td>
                <span th:text="${#dates.format(booking.reservationEndDate, 'dd-MM-yyyy')}"></span>
            </td>
            <td>
                <span> [[${booking.numberOfPeople}]]</span>
            </td>

            <td>
                <span th:if="${booking.reservationStartDate.after(#dates.createNow())}">
                            <a class="btn btn-success"
                               th:href="@{/reservationFormADM.html(id=${booking.id})}">
                                Изменить
                            </a>
                        </span>
                <span th:if="${booking.reservationStartDate.after(#dates.createNow())}">
                        <a class="btn btn-danger" sec:authorize="isAuthenticated()"
                           th:href="@{/reservationList.html(id=${booking.id})}">
                            Отменить
                        </a>
                       </span>
                <span th:if="${booking.reservationEndDate.before(#dates.createNow())}">
                        <p>Бронирование неактуально</p>
                        <a class="btn btn-danger" sec:authorize="isAuthenticated()"
                           th:href="@{/reservationList.html(id=${booking.id})}">Удалить</a>
                       </span>
                <span th:if="${booking.reservationEndDate.after(#dates.createNow()) and booking.reservationStartDate.before(#dates.createNow())}">
                            <p>Бронирование актуально</p>
                        </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="shared/pagination :: pager(reservationList.html, ${roomReservationListPage})">
    </div>
</div>
</div>
</body>
</html>