<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <style>
        .form-control {
            font-size: 2rem;
        }

        .btn{
            color: #4a455d;
        }
        body{
            font-size: 20px;
        }
        .container {
            width: 50%;
            margin-top: 30px;

        }
    </style>
</head>
<body>
<div th:replace="shared/header :: header('reservationFormUSR')"/>
<div class="container">
    <form th:method="POST" th:object="${booking}" th:action="@{/reservationFormUSR.html}">
        <fieldset>
            <div class="form-group">
                <label for="reservationStartDate" class="bmd-label-floating">Начало пребывания:</label>
                <span>Дата въезда</span><br>
                <input id="reservationStartDate" type="date" th:field="*{reservationStartDate}"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('reservationStartDate')}?'is-invalid'"
                       required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('reservationStartDate')}">
                    <p th:each="err : ${#fields.errors('reservationStartDate')}" th:text="${err}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="reservationEndDate" class="bmd-label-floating">Конец пребывания</label>
                <span>Дата выезда</span><br>
                <input id="reservationEndDate" type="date" th:field="*{reservationEndDate}"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('reservationEndDate')}?'is-invalid'"
                       required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('reservationEndDate')}">
                    <p th:each="err : ${#fields.errors('reservationEndDate')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="numberOfPeople" class="bmd-label-floating">Количество людей</label>
                <span>Количество людей</span><br>
                <input id="numberOfPeople" type="text" th:field="*{numberOfPeople}"
                       placeholder="Количество людей"
                       class="form-control" th:classappend="${#fields.hasErrors('numberOfPeople')}?'is-invalid'"
                       required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('numberOfPeople')}">
                    <p th:each="err : ${#fields.errors('numberOfPeople')}" th:text="${err}"></p>
                </div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Далее"/>
        </fieldset>
    </form>
    <br>
    <div sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-lg btn-block" href="reservationList.html">Отмена</a>
    </div>
    <div sec:authorize="hasRole('USER')">
        <a class="btn btn-lg  btn-block" href="yourReservationList.html">Отмена</a>
    </div>
</div>
</body>
</html>