<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <style>
        .container {
            font-size: 20px;
            color: #4a455d;
        }

        h1 {
            font-size: 50px;
        }

        .data {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .data-item {
            padding: 10px;
        }

    </style>
</head>
<body>
<div th:replace="shared/header :: header('userDetails')"/>
<div class="container">
    <h1>Информация о номере</h1>
    <div class="data">
        <div class="data-item">
            Номер: <b th:text="${room.id}"></b><br/>
        </div>
        <div class="data-item">
            Тип: <b th:text="${room.roomType.id}"></b><br/>
        </div>
        <div class="data-item">
            Цена за сутки: <b th:text="${room.roomType.price}"></b><br/>
        </div>
        <div class="data-item">
            Односпальные кровати: <b th:text="${room.roomType.single_beds}"></b><br/>
        </div>
        <div class="data-item">
            Двуспальные кровати: <b th:text="${room.roomType.double_beds}"></b><br/>
        </div>
        <div class="data-item">
            Максимальное количество людей: <b th:text="${room.people}"></b><br/>
        </div>
    </div>
    <a class="btn btn-success" th:href="@{/reservationList.html}">Назад</a>
</div>
</body>
</html>