<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <style>
        html {
            color: var(--white-color);
        }
        body {
            font-size: 16px;
            color: #4a455d;
        }
        td {
            text-align: center;
        }

        .table-names {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="shared/header :: header('roomList')"/>
<div class="container text-left">
    <div th:if="${roomListPage.hasContent() eq false}">
        <span>Нет свободных номеров</span>
    </div>
    <div th:if="${roomListPage.hasContent() eq true}">
        Доступно [[${roomListPage.totalElements}]] номеров
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="table-names">
            <th>Номер</th>
            <th>Цена за сутки</th>
            <th>Тип комнаты</th>
            <th>Максимальное количество людей</th>
            <th>Двуспальные кровати</th>
            <th>Односпальные кровати</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${roomListPage.content}">
            <td>
                [[${room.id}]]
            </td>
            <td>
                <span> [[${room.roomType.price}]]</span>
            </td>
            <td>
                <span> [[${room.roomType.id}]]</span>
            </td>
            <td>
                <span> [[${room.people}]]</span>
            </td>
            <td>
                <span> [[${room.roomType.double_beds}]]</span>
            </td>
            <td>
                <span> [[${room.roomType.single_beds}]]</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="shared/pagination :: pager(roomList.html, ${roomListPage})"></div>
</div>
</div>
</body>
</html>