<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Номера</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <style>
        html {
            color: var(--white-color);
        }

        body {
            font-size: 14px;
        }

        .card-title {
            font-size: 45px;
        }

        .card-text {
            margin-top: 5px;
        }

        .price {
            font-size: 35px;
        }
    </style>
</head>

<body>

<div th:replace="shared/header :: header('roomList')"/>

<!-- ROOMS LIST -->
<section id="rooms-list" class="rooms-list">
    <div class="container container-medium">
        <!--<div class="row row-2">
            <h2>Номера</h2>
            <select>
                <option>Default</option>
                <option>Sort by Price</option>
                <option>Sort by Reviews</option>
                <option>Sort by Popularity</option>
                <option>Sort by Spacing</option>
            </select>
        </div>-->
        <table style="width: 100%">
            <tr th:each="room : ${roomListPage.content}">
                <!--                <div class="col-2">-->
                <div class="card custom-card text-center"
                     style="width: 45rem; display: inline-block; margin: 30px;">
                    <div class="room-image">
                        <img th:src="@{/img/room-2.jpg}" alt="room">
                    </div>
                    <div class="room-info">
                        <div>
                            <span class="card-title" th:text="${room.roomType.roomTypeName}"></span>
                            <p>
                                <span class="card-text price" th:text="${room.price} + ' $ / сутки'"></span><br>
                                <span class="card-text"
                                      th:text="${room.singleBeds} + ' односпальных кроватей'"></span><br>
                                <span class="card-text"
                                      th:text="${room.doubleBeds} + ' двуспальных кроватей'"></span><br>
                                <span class="card-text" th:text="${room.floor} + ' этаж'"></span><br>
                            </p>
                        </div>
                    </div>
                </div>
            </tr>
        </table>
        <!--        <div th:replace="shared/pagination :: pager(roomList.html, ${roomListPage})"></div>-->
        <!--<div class="row">
            <div class="col-2">
                <div class="room-image">
                    <img th:src="@{/img/room-1.jpg}" alt="room">
                </div>
                <div class="room-info">
                    <div>
                        <h4>Люкс - Простор</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p class="price"><span>$150</span> / night</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="room-image">
                    <img th:src="@{/img/room-2.jpg}" alt="room">
                </div>
                <div class="room-info">
                    <div>
                        <h4>С видом на море</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p class="price"><span>$150</span> / night</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="room-image">
                    <img th:src="@{/img/room-3.jpg}" alt="room">
                </div>
                <div class="room-info">
                    <div>
                        <h4>Стандартный номер на одного</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p class="price"><span>$150</span> / night</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="room-image">
                    <img th:src="@{/img/room-4.jpg}" alt="room">
                </div>
                <div class="room-info">
                    <div>
                        <h4>Стандартный номер на двоих</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquа</p>
                        <p class="price"><span>$150</span> / night</p>
                        <a href="#">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="room-image">
                    <img th:src="@{/img/room-5.jpg}" alt="room">
                </div>
                <div class="room-info">
                    <div>
                        <h4>Полулюкс - доступный комфорт</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p class="price"><span>$150</span> / night</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="room-image">
                    <img th:src="@{/img/room-6.jpg}" alt="room">
                </div>
                <div class="room-info">
                    <div>
                        <h4>Семейный номер</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p class="price"><span>$150</span> / night</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>

<!-- FOOTER SECTION -->
<footer>
    <div class="container" style="color: white;">
        <div class="back-to-top">
            <a href="#rooms-list"><i class="fas fa-chevron-up"></i></a>
        </div>
        <div class="footer__content row">
            <div class="col-3">
                <h4>О нас</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde accusantium sit repudiandae
                    incidunt quod eius recusandae blanditiis voluptates consectetur?</p>
            </div>
            <div class="col-3">
                <h4>Способы оплаты</h4>
                <ul class="payment-methods">
                    <li>
                        <a href="#">
                            <i class="fab fa-paypal"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-visa"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-cc-mastercard"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-apple-pay"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Наши соц.сети</h4>
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-tripadvisor"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>