<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="shared/header :: header('userList')"/>
<div class="container-fluid text-center">
    <div class="row content">

        <div class="col-sm-8 text-left">

            <form th:method="POST" th:action="@{userList.html}" th:object="${searchCommand}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input th:field="*{phrase}" placeholder="имя/фамилия/логин/почта/номер телефона"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('phrase')}?'is-invalid'"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('phrase')}">
                            <p th:each="err : ${#fields.errors('phrase')}" th:text="${err}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8"></div>
                    <div class="form-group col-md-2">
                        <a th:if="${searchCommand.isEmpty() eq false or #fields.hasErrors('*')}"
                           th:href="@{reservationList.html(all)}" class="btn btn-success">
                            <span class="glyphicon glyphicon-refresh"></span>
                            Показать все
                        </a>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                            Поиск
                        </button>

                    </div>
                </div>
            </form>

            <div th:if="${userListPage.hasContent() eq false}">
                <span>Нет пользователей</span>
            </div>
            <div th:if="${userListPage.hasContent() eq true}">
                  <span th:if="${searchCommand.isEmpty()}">
                База включает [[${userListPage.totalElements}]] пользователей
            </span>
                <span th:unless="${searchCommand.isEmpty()}">
                Результат поиска: [[${userListPage.totalElements}]] пользователей
            </span>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Логин</th>
                    <th>Имя и фамилия</th>
                    <th>Почта</th>
                    <th>Номер телефона</th>
                    <th>Опции</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userListPage.content}">
                    <td>
                        [[${user.login}]]
                    </td>
                    <td>
                        <span> [[${user.firstName}]]</span>
                        <span> [[${user.lastName}]]</span>
                    </td>
                    <td>
                        <span> [[${user.email}]]</span>
                    </td>
                    <td>
                        <span> [[${user.phoneNumber}]]</span>
                    </td>
                    <td>
                    <td style="align-content: center">
                        <a class="btn btn-danger" sec:authorize="isAuthenticated()"
                           th:href="@{/userList.html(id=${user.id})}">Удалить</a>
                        <a class="btn btn-success" th:href="@{/editUser.html(id=${user.id})}">Редактировать</a>
                    </td>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="shared/pagination :: pager(userList.html, ${userListPage})"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>