<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <style>
        body {
            font-size: 18px;
            color: #4a455d;
        }
        td {
            text-align: center;
        }
        .table-names {
            text-align: center;
        }
        .btn{
            color: #4a455d;
        }
    </style>
</head>
<body>

<div th:replace="shared/header :: header('yourReservationList')"/>
<div class="container text-left">
    <div th:if="${roomReservationListPage.hasContent() eq false}">
        <span>Бронирований нет</span>
    </div>
    <div th:if="${roomReservationListPage.hasContent() eq true}">
        База включает [[${roomReservationListPage.totalElements}]] бронирований
        </span>
    </div>
    <table class="table table-striped table-hover caption-top">
        <thead>
        <tr class="table-names">
            <th>Номер</th>
            <th>Дата въезда</th>
            <th>Дата выезда</th>
            <th>Число людей</th>
            <th>Состояние</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${roomReservationListPage.content}">
            <td>
                <span>
                    [[${booking.room.roomType.id}]]
                </span>
            </td>
            <td>
                <span th:text="${#dates.format(booking.reservationStartDate, 'dd-MM-yyyy')}"></span>
            </td>
            <td>
                <span th:text="${#dates.format(booking.reservationEndDate, 'dd-MM-yyyy')}"></span>
            </td>
            <td>
                <span> [[${booking.numberOfPeople}]]</span>
            </td>
            <td style="align-content: center">
                <span th:if="${booking.reservationEndDate.before(#dates.createNow())}">
                            Бронирование неактуально
                        </span>
                <span th:if="${booking.reservationEndDate.after(#dates.createNow()) and booking.reservationStartDate.before(#dates.createNow())}">
                            Бронирование актуально
                        </span>
                <span th:if="${booking.reservationStartDate.after(#dates.createNow())}">
                            <a class="btn btn-success"
                               th:href="@{/reservationFormUSR.html(id=${booking.id})}">
                                Изменить
                            </a>
                        </span>
                <br>
                <span>
                        <a class="btn btn-danger"
                           sec:authorize="isAuthenticated()"
                           th:href="@{/yourReservationList.html(id=${booking.id})}">
                            Удалить
                        </a>
                        </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="shared/pagination :: pager(reservationList.html, ${roomReservationListPage})">

    </div>
</div>
</body>
</html>