<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <div th:fragment="header-css">
        <link href="welcome">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link type="text/css" th:href="@{/css/style.css}">
    </div>
</head>

<body>

<!-- HEADER -->
<div class="container">
    <nav th:fragment="header(pageName)" id="header" class="navbar" style="margin: 0 auto;">
<!--        <a class="logo" href="/">лого</a>-->
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="open"></i>
            <i class="fas fa-times" id="close"></i>
        </label>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link"
                   sec:authorize="!hasRole('ROLE_ADMIN')"
                   th:classappend="${pageName eq 'welcome'}?'active'"
                   th:href="@{/}">
                    Главная
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link"
                   th:classappend="${pageName eq 'rooms'}?'active'"
                   th:href="@{/rooms.html}">
                    Номера
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link"
                   th:classappend="${pageName eq 'yourReservationList'}?'active'"
                   th:href="@{/yourReservationList.html}">
                    Мои бронирования
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link"
                   th:classappend="${pageName eq 'userList'}?'active'"
                   th:href="@{/userList.html(all)}">
                    Пользователи
                </a>
            </li>
            <li>
                <div sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/addUser"
                       th:href="@{/addUser}">
                        Добавить пользователя
                    </a>
                </div>
            </li>
            <li>
                <div sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link"
                       th:href="@{/reservationFormADM.html}">
                        Добавить бронирование
                    </a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link"
                   th:classappend="${pageName eq 'reservationList'}?'active'"
                   th:href="@{/reservationList.html(all)}">
                    Брони
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   sec:authorize="!hasRole('ADMIN')"
                   th:classappend="${pageName eq 'about'}?'active'"
                   th:href="@{/about}">
                    О нас
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   sec:authorize="!hasRole('ADMIN')"
                   th:classappend="${pageName eq 'contact'}?'active'"
                   th:href="@{/contact}">
                    Контакты
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link"
                   th:classappend="${pageName eq 'registration'}?'active'"
                   th:href="@{/registration}">
                    Зарегистрироваться
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link"
                   th:classappend="${pageName eq 'login'}?'active'" href="/login">
                    Войти
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link"
                   th:classappend="${pageName eq 'login'}?'active'" href="/logout">
                    Выйти
                </a>
            </li>
            <li class="nav-item">
                <div class="well">
                    <a sec:authorize="isAuthenticated()"
                       class="nav-link book-btn"
                       href="accountDetails.html">
                        Личный кабинет
                    </a>
                </div>
            </li>
            <li>
                <div sec:authorize="!hasRole('ADMIN')">
                    <a class="nav-link book-btn" th:href="@{/reservationFormUSR.html}">
                        Забронировать номер
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>